@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg-light: #ffffff;
  --color-text-light: #171717;
  --color-primary: #00ac47;
  --color-primary-light: #00ac4738;
  --color-secondary: #ff7127;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg-dark: #0a0a0a;
    --color-text-dark: #ededed;
  }
}

body {
  color: var(--color-text-light);
  background: var(--color-bg-light);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--color-text-dark);
    background: var(--color-bg-dark);
  }
}

/* thin scrollbar styles */
.thin-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: #999b9c;
  border-radius: 10px;
}
.thin-scrollbar::-webkit-scrollbar-track {
  background: #f2f4f5;
}
