@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg-light: #ffffff;
  --color-text-light: #171717;
  --color-primary: #00ac47;
  --color-primary-light: #00ac4738;
  --color-secondary: #ff7127;
  --color-secondary-light: #ff73272c;
}

body {
  color: var(--color-text-light);
  background: var(--color-bg-light);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

/* thin scrollbar styles */
.thin-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: #999b9c;
  border-radius: 10px;
}
.thin-scrollbar::-webkit-scrollbar-track {
  background: #f2f4f5;
}

/* page loader styles */
.loader {
  width: 8px;
  height: 40px;
  border-radius: 4px;
  display: block;
  margin: 20px auto;
  position: relative;
  background: currentColor;
  color: #fff;
  box-sizing: border-box;
  animation: animloader 0.3s 0.3s linear infinite alternate;
}

.loader::after,
.loader::before {
  content: "";
  width: 8px;
  height: 40px;
  border-radius: 4px;
  background: currentColor;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  box-sizing: border-box;
  animation: animloader 0.3s 0.45s linear infinite alternate;
}
.loader::before {
  left: -20px;
  animation-delay: 0s;
}

@keyframes animloader {
  0% {
    height: 48px;
  }
  100% {
    height: 4px;
  }
}
